<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles.css"> <!-- Assurez-vous de créer un fichier de style CSS pour cette page -->
</head>
<body>
    <div class="confirmation-container">
        <h1>Votre compte a été créé avec succès</h1>
        <p>Accédez au site dès maintenant :</p>
        <a href="https://www.xxxxxxxxx.com" class="site-link">Accéder au site</a>
    </div>
</body>
</html>
